/* ======================================全局样式 ======================================*/
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ======================================通用样式 ======================================*/
/* 滚动条样式设置 #086ac1*/
.iscroll {
    overflow: auto;
}

.iscroll::-webkit-scrollbar {
    width: 6px;
    height: 40px;
}

.iscroll::-webkit-scrollbar-thumb {
    background-color: var(--mud-palette-scrollbar);
    /*设置滚动条颜色*/
    outline: none;
    border-radius: 6px;
}

.iscroll::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 6px;
}

/* ======================================大屏架构样式 ======================================*/
.screen {
    min-width: 1900px;
    max-width: 1920px;
    max-height: 1080px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    color: var(--screen-color);
    background: var(--screen-background);
    background-image: var(--screen-background-image);
    background-size: var(--screen-background-size);
}

.screen__head {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100px;
}

.screen__head-left {
    position: relative;
    flex: 1;
    display: inline-block;
    z-index: 2;
    text-align: left;
}

.screen__head-box {
    margin: 0;
    padding: 0 16px;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}

.screen__head-right {
    position: relative;
    flex: 1;
    display: inline-block;
    z-index: 2;
    text-align: right;
}

.screen__head-right .screen__head-box {
    justify-content: right;
}

.screen__head-center {
    position: relative;
    display: inline-block;
    padding: 20px 70px 5px 70px;
    height: 80px;
    letter-spacing: 4px;
    text-align: center;
}

.screen-title {
    margin: 0;
    line-height: 1;
    font-size: 32px;
    font-weight: bold;
    color: var(--screen-color);
    background: linear-gradient(180deg, #fff, #9fc3ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.screen-subtitle {
    margin: 0;
    line-height: 1;
    font-family: OPPOSans-M, OPPOSans;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: var(--screen-color-primary);
}

.screen__body {
    display: flex;
}

.screen-content {
    flex: 1;
    padding: 0 16px;
}

/*添加顶部菜单栏*/
.screen__head-menu {
    margin: 9px 0 0 0;
    padding: 0;
    padding-left: 15px;
    list-style: none;
    display: flex;
    z-index: 2;
    align-items: center;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.screen__head-left .screen__head-menu {
    padding-left: 15px;
    padding-right: 10px;
}

.screen__head-right .screen__head-menu {
    padding-right: 15px;
    padding-left: 10px;
}

.screen__head-menu__item {
    position: relative;
    min-width: 120px;
    height: 100%;
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
    color: #c2d7fa;
    cursor: pointer;
}

.screen__head-menu__item-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    color: inherit;
    background-color: transparent;
    text-overflow: ellipsis;
}

.screen__head-menu__item:after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 120px;
    height: 23px;
    margin-left: -60px;
    background-image: url(/images/screen/inside.png);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0;
    content: "";
    background-size: 100% auto;
    pointer-events: none;
}

.screen__head-menu__item:hover,
.screen__head-menu__item.active {
    font-weight: 700;
    color: #fff;
    background: linear-gradient(180deg, rgba(43, 121, 255, 0) 5px, #2b79ff);
}

.screen__head-menu__item:hover:after,
.screen__head-menu__item.active:after {
    opacity: 1;
}

/* ======================================组件样式 ======================================*/
/* 侧边菜单 */
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    position: relative;
}

.menu__item:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--menu-item-background-color:);
    background-image: var(--menu-item-background-image);
}

.menu__link {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: var(--menu-link-color);
    font-size: small;
}

.menu__link i {
    display: block;
    font-size: 30px;
}

.menu__link:hover,
.active .menu__link {
    color: var(--menu-link-color-hover);
}

/* 容器盒子 */

.box {
    position: relative;
    border-width: var(--box-border-width);
    border-style: var(--box-border-style);
    border-color: var(--box-border-color);
    border-radius: var(--box-border-radius);
    border-image: var(--box-border-image);
    background-color: var(--box-background-color);
    background: var(--box-background);
}

.box__inner {
    margin: var(--box-border-width);
    padding: var(--box-inner-padding);
}

.box__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--box-head-padding);
    z-index: 1;
    color: var(--screen-color);
}

.box__head b {
    display: inline-block;
    font-size: large;
    font-weight: normal;
}

.box__body {
    position: relative;
    z-index: 1;
    padding: var(--box-body-padding);
}

/* bootstrap组件变量化设置 */
.btn-primary {
    background-color: var(--bs-primary);
    border-color: currentColor;
}

.btn-success {
    background-color: var(--bs-success);
    border-color: currentColor;
}

.btn-info {
    background-color: var(--bs-info);
    border-color: currentColor;
}

.btn-warning {
    background-color: var(--bs-warning);
    border-color: currentColor;
}

.btn-danger {
    background-color: var(--bs-danger);
    border-color: currentColor;
}

.form-control,
.form-select {
    color: var(--screen-color);
    background-color: var(--screen-background);
    border: 1px solid var(--screen-border);
}

.form-control:focus {
    color: var(--screen-color);
    background-color: var(--screen-background);
    border-color: var(--screen-border);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}


