/* ======================================全局样式 ======================================*/
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ======================================通用样式 ======================================*/
/* 滚动条样式设置 #086ac1*/
.iscroll {
    overflow: auto;
}

.iscroll::-webkit-scrollbar {
    width: 6px;
    height: 40px;
}

.iscroll::-webkit-scrollbar-thumb {
    background-color: var(--mud-palette-scrollbar);
    /*设置滚动条颜色*/
    outline: none;
    border-radius: 6px;
}

.iscroll::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 6px;
}

/* ======================================大屏架构样式 ======================================*/
.screen {
    min-width: 1900px;
    max-width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
}

.screen__head {
    position: relative;
    z-index: 1;
    display: flex;
    font-size: 16px;
    height: 100px;
}

.screen__head-left {
    position: relative;
    flex: 1;
    display: inline-block;
    z-index: 2;
    text-align: left;
}

.screen-title {
    position: relative;
    display: inline-block;
    padding: 20px 70px 5px 70px;
    height: 80px;
    letter-spacing: 4px;
    text-align: center;
}

.screen-title h2 {
    margin: 0;
    line-height: 1;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    position: inherit;
}

.screen-title p {
    margin: 0;
    line-height: 1;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    position: inherit;
}

.screen__head-right {
    position: relative;
    flex: 1;
    display: inline-block;
    z-index: 2;
    text-align: right;
}

.screen__head-center {
    position: relative;
    display: inline-block;
    padding: 20px 70px 5px 70px;
    height: 80px;
    letter-spacing: 4px;
    text-align: center;
}

/* ======================================组件样式 ======================================*/
/* 侧边菜单 */
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    position: relative;
}

.menu__item:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--menu-item-background-color:);
    background-image: var(--menu-item-background-image);
}

.menu__link {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: var(--menu-link-color);
    font-size: small;
}

.menu__link i {
    display: block;
    font-size: 30px;
}

.menu__link:hover,
.active .menu__link {
    color: var(--menu-link-color-hover);
}

/* 容器盒子 */

.box {
    position: relative;
    border-width: var(--box-border-width);
    border-style: var(--box-border-style);
    border-color: var(--box-border-color);
    border-image: var(--box-border-image);
    background-color: var(--box-background-color);
    background: var(--box-background);
}

.box__inner {
    margin: var(--box-border-width);
    padding: var(--box-inner-padding);
}

.box__head {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--box-head-padding);
    z-index: 1;
    text-align: center;
    color: #fff;
    height: 46px;
}

.box__head b {
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 2px;
}

.box__body {
    position: relative;
    z-index: 1;
    padding: var(--box-body-padding);
}

/* ======================================容器边框样式 ======================================*/
.border1 {
    --box-border-width: 2px;
    --box-border-style: solid;
    --box-border-color: #086ac1;
    --box-border-image: none;
    --box-background-color: rgb(0 36 139 / 20%);
    --box-background: var(--box-background-color);
    --box-inner-margin: -2px;
    --box-inner-padding: 10px;
    --box-head-padding: 5px 16px;
    --box-body-padding: 0 5px 15px 5px;
}